[Desktop Entry]
Encoding=UTF-8
Name=Link to PSPWizard-FSE-2011 - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=dTU-3aib_yQ
Icon=text-html
Name[en_US]=How to run PSPWizard on VM YouTube Video
